[2022-04-04 21:48] jaredhanson commented on #891
My recommendation is you check `error.status` rather than `instanceof`.  For example:

[code]

Checking `instanceof`can be problematic, since individual strategies may error with instances of classes within their package, which would not satisfy an `instanceof` check.  By checking for `status`, you can handle all authentication related errors, without depending on internals of middleware or strate

[2022-04-04 21:48] #891 closed

[2022-04-05 05:34] Shubham-Kumar-2000 commented on #891
At least Can we have error formatter? @jaredhanson

Something similar to `serializeUser`

[2022-04-05 13:18] jaredhanson commented on #891
Can you describe more what you would expect from a proposed API?  What would it offer that can't be accomplished in middleware?

[2022-04-05 16:55] Shubham-Kumar-2000 commented on #891
See suppose we want to change the error message / delete the stack trace or any manipulation we want to do with the error.

Then what we have to do is after every `passport` middleware we will have to attach a `passportErrorHandler` i.e

[code]

Even this doesn't ensures that the error is from passport only.
Suppose we have some default middleware just before passport and they throw some error the

[2022-04-05 17:11] Shubham-Kumar-2000 commented on #891
See If I put it in very simple terms how can I exactly know that this particular error is form passport and I need to handle that differently.

Earlier you suggested :
[code]

This doesn't makes sure that the error is from passport only.
@jaredhanson

[2022-04-05 19:21] jaredhanson commented on #891
It'll be from passport if that was the middleware preceding the error handler.  For example:

[code]

That will let you trap non-passport errors earlier in the stack, if you need.  Express, is quite flexible in this regard.   That being said, this seems like quite an edge case and I am curious as to what other middleware besides passport would be yielding errors with a `401` status that need to be

[2022-04-20 06:36] mrahma04 commented on #703
I'm a little confused regarding the fix. This is my code. How would I refactor this (near the bottom) to incorporate the fix?

[code]

[2022-04-21 15:49] antishok commented on #703
@mrahma04 The issue is only relevant when doing a redirect.
And, you need to save the session only after making the changes to it.
In your current code you are saving it, and only then making changes to it.
Should be instead something like:
[code]

[2022-04-21 16:07] mrahma04 commented on #703
Moving the req.session parameters outside of the callback did the trick. Here's my refactored code. Thank you so much!

[2022-04-23 01:19] jhones-dev opened #892 "Always unauthorized!"
Why is my routes always getting unauthorized?

This is where i'm setting my JWT Token:
[code]

This is how i'm generating the token (gerateJWT):
[code]

This is my JWT Strategy:
[code]

In my route i'm just using:
[code]

[2022-04-23 01:33] jaredhanson commented on #892
Have you used debugging tools to verify that cookies are getting set and transmitted in HTTP requests as expected?  Any details as to network traffic would be helpful.

[2022-04-23 01:36] jzorzetti commented on #892
My headers, i don't know if this can help:
[code]

[2022-04-23 01:44] jaredhanson commented on #892
I'm not familiar with the implementation of the `jwt` strategy, but your JWT has an `expiresIn`, where the standard mandates an `exp` claim.  This may be causing issues.

[2022-04-23 01:48] jzorzetti commented on #892
I tried removing it, still the same... In JWT Strategy the payload and done isn't running at all, i tried to console.log there and nothing was returned, but I can't find a problem with my headers or why ExtractJwt.fromHeader() isn't working

[2022-04-23 01:52] jaredhanson commented on #892
I think the problem is in how you are generating the JWT.

[code]

 Expires in should be an option, not part of the payload.  Something like:

[code]

[2022-04-23 02:00] jzorzetti commented on #892
You're right about that, but even with this I'm still having the problem :\. It seems like it isn't reading my header at all

[2022-04-25 18:37] #889 closed

[2022-04-25 19:35] jaredhanson commented on #889
@Priyanshu-Desai - Can you describe how you fixed this problem, so other people who stumble across the same issue can read how to solve it?

[2022-04-27 05:28] learner00000 opened #894 "Property 'serializeUser' does not exist on type 'UserModel'.ts(2339)"
This is my `models/users.ts` file:

    import mongoose from 'mongoose';
    const Schema = mongoose.Schema;
    import passportLocalMongoose from 'passport-local-mongoose';

    export interface digitalWalletDocument extends mongoose.Document{
        currencyName: string;
        value: number;

    }

    const digitalWalletSchema = new Schema<digitalWalletDocument>({
        currencyName : {

[2022-05-06 16:42] Yanskidoo commented on #866
If you have change your failure flash variable name you have to use type in parameters.
![flash](https://user-images.githubusercontent.com/93407021/167175993-2f7236b9-ddb1-457c-9257-361bb5d423ee.JPG)

[2022-05-08 15:27] ricomasgu commented on #246
For me was changing the HTTP method.
I was experiencing errors on:
router.**post**('/logout', (req, res) => {
  // logout the user using passport
  req.logout();
  res.json({ message: 'Successful logout' });
})

I solved with:
router.**delete**('/logout', (req, res) => {
  // logout the user using passport
  req.logout();
  res.json({ message: 'Successful logout' });
})

[2022-05-09 09:04] thernstig opened #896 "`Authenticator.prototype.use` has incorrect JSDoc"
https://github.com/jaredhanson/passport/blob/e1e4e1f0c225eea32b196c5be7f7a95c4af38bf1/lib/authenticator.js#L45-L59

`Authenticator.prototype.use` should have `@param {Strategy|undefined} strategy` as its type (or ``@param {Strategy|undefined|null} strategy`, as otherwise editors supporting type inference from JSDoc cannot parse function call properly when not using the second argument.

[2022-05-16 15:03] jaredhanson commented on #881
I've released `passport@0.5.3` which fixes this info.  More info [here](https://medium.com/passportjs/passport-v0-5-3-be496c9d60f6).

[2022-05-19 15:28] ynfinite commented on #803
I can confirm the issue when using any OAuth2 strategy with .authorize() it does not matter if you use Facebook, Twitter or OAuth2 for any other service I tried, in the callback of the strategy  - req.user is always empty.

[2022-05-20 13:59] jaredhanson commented on #192
I've changed my earlier assessment on this topic, and released `passport@0.6.0`, which now actively defends against session fixation by regenerating the session.   Read the [announcement](https://medium.com/passportjs/fixing-session-fixation-b2b68619c51d) for more info.   Thanks for the discussion here!

[2022-05-22 09:48] CherryDT opened #902 "Error: req#logout requires a callback function (regression)"
### Expected behavior
`req.logout()` without a callback should work, as it did before and as [your docs](https://www.passportjs.org/concepts/authentication/logout/) show.

### Actual behavior
Error is thrown: `req#logout requires a callback function`

* passport version: 0.6.0

This bug was introduced four days ago in [this commit](https://github.com/jaredhanson/passport/commit/a77271f55f045bd4fd2

[2022-05-22 13:32] jaredhanson commented on #902
This change is intentional, as described in the release [announcement](https://medium.com/passportjs/fixing-session-fixation-b2b68619c51d).  It is necessary in order to improve the security of how sessions are managed during logout.  Upgrading to 0.6.0 will require applications to pass a callback to `req#logout`.  I'm still working on updating the docs and examples.

[2022-05-22 13:32] #902 closed

[2022-05-22 23:33] yufanme opened #903 "The documentation is hard to read!"
** READ THIS FIRST! **

#### Are you looking for help?

Reminder: The issue tracker is not a support forum.

Issues should only be filed in this project once they are able to be reproduced
and confirmed as a flaw in the software or incorrect information in associated
documention.

If you are encountering problems integrating this module into your application,
please post a question on the [discuss

[2022-05-23 13:40] jaredhanson commented on #903
Could you please describe what you find difficult or offer some clues as to what you think would help improve the documentation?  That would make this issue actionable.  Otherwise, this issue comes across as a general complaint, and is unlikely to result in any improvements.  Thanks.

[2022-05-23 19:45] Ylianst opened #904 "Sessions do not always have regenerate() and save() cauing a fault"
I am the author of MeshCentral and use `cookie-session` along with Password. A recent [commit in Password](https://github.com/jaredhanson/passport/commit/7e9b9cf4d7be02428e963fc729496a45baeea608) is [causing crashes](https://github.com/Ylianst/MeshCentral/issues/4034) because `cookie-session` does not have a regenerate() or save() method.

See this issue: https://github.com/expressjs/cookie-sessio

[2022-05-23 20:42] jaredhanson commented on #904
Thanks for the report.  My intent here is to make the session manager pluggable (it is already by setting `passport._sm`, but will add a public method in a future release).   This would allow session management to be plugged in similarly to strategies, which would allow targeting different session implementations (such as `cookie-session`).

I'll look into implementing a `cookie-session`-based ses

[2022-05-24 00:01] Ylianst commented on #904
Thanks. I am pinning to 0.5.x until then! Much appreciated.

[2022-05-26 21:29] ptheofan opened #905 "A couple of questionable lines of code in the middleware/authenticate"
https://github.com/jaredhanson/passport/blob/1e8f112bd233dbffb1904d4dd2051780d81b0a22/lib/middleware/authenticate.js#L95

[code]

[2022-05-26 21:54] jaredhanson commented on #905
What's questionable about these lines?

[2022-05-27 00:44] dpawson905 opened #906 "Setting a successFlash on passport.authenticate quit working after updating passport to v0.6.0"
Before I updated passport to 0.6.0 this worked when a user logged in.

[code]

Before I updated I was on 0.5.2. Has something changed to prevent this from working?

Thanks in advance

[2022-05-27 01:40] jaredhanson commented on #906
There isn't any known impact to this feature, so any further details or debugging you could provide would help pinpoint the issue.

[2022-05-27 02:55] dpawson905 commented on #906
I was able to solve it by doing this instead...

[code]
However, the code from my previous post will work if I downgrade passport back to 0.5.2. I noticed the same thing using passport-google-oauth2 when upgrading to 0.6.0 except it killed flash messages all together. As far as debugging, if I revert the code back to what I had in the first post and i console log req.session it returns an empty ob

[2022-05-27 09:19] ptheofan commented on #905
aaah my bad, just noticed login and logIn (all lowercase vs camelcase)

[2022-05-27 09:20] #905 closed

[2022-05-27 14:20] nickyblissAviva opened #907 "req.session.regenerate is not a function since upgrade to 0.6.0"
We have been using passport for some time within our application and have had no issues but once upgraded from 0.5.2 to 0.6.0 we are suddenly seeing an error when submitting authentication.

[code]

Our passport-authentication.js just initialises passport within expressJS and sets some local strategies.

I have rolled back to 0.5.3 and our application works fine again.

### Environment

* Operatin

[2022-05-27 14:40] nickyblissAviva commented on #907
cookie-session 2.0.0

[2022-05-27 14:54] jaredhanson commented on #907
Thanks for the report.  This is a duplicate of #904.  I'd recommend pinning to 0.5.x, until I've had a chance to release an update with the new features described on the initial issue.

[2022-05-28 12:54] #906 closed

[2022-05-30 17:38] MouSoeng commented on #894
You should be reference to the test of passport-local-mongoose. In the `index.test-d.ts`, the `UserModel` should be extends from `PassportLocalModel`, and the `Schema` should recognize as `PassportLocalSchema`.
Link to passport-local-mongoose test file for your reference:
https://github.com/saintedlama/passport-local-mongoose/blob/main/test/types/index.test-d.ts

[2022-05-30 21:14] simllll commented on #904
We are also facing issues with the regenerate call happneing "automatically" during login and logout, would it be an option to allow disabling this behaviour manually?

[2022-05-31 14:07] malay5-1 commented on #452
Did anyone get a work around? I am facing this issue when I deploy it. I have deployed client in netlify and backend in heroku. Everything works fine when running on local as well as works with postman(the deployed version), but am still facing error on browsers. I have implemented cors, and am not getting why serialize user is not saving the session in the request.

[2022-05-31 20:47] simllll opened #909 "since 0.6 req#logout requires a callback function"
since the latest version logout seems to require a callback function,
but @types/passport is saying there isn't even a parameter
![image](https://user-images.githubusercontent.com/5757263/171281500-158f1435-762c-42dc-8dcb-63ad8776c0fc.png)

I do not explicity register any session manager, .. looking at the code it seems this is only required if there is a session manager.. or is this somehow the d

[2022-05-31 21:10] jaredhanson commented on #909
Duplicate of #902.

[2022-05-31 21:12] jaredhanson commented on #909
This change is intentional, as described in the release [announcement](https://medium.com/passportjs/fixing-session-fixation-b2b68619c51d). It is necessary in order to improve the security of how sessions are managed during logout. Upgrading to 0.6.0 will require applications to pass a callback to req#logout. I'm still working on updating the docs and examples.

I don't maintain the TypeScript typ

[2022-05-31 21:12] #909 closed

[2022-06-01 12:50] nilsramsperger opened #911 "Documentation needs update to 0.6.0"
Hi there.

Updating to 0.6.0, I ran into the problem that req.logout() changed. It now needs a done callback. Unfortunately the documentation does not state this.

Greets
Nils

[2022-06-02 23:08] soren121 commented on #904
@simllll What jaredhanson proposed above would allow you to do that, by providing a SessionManager that does not call regenerate.

[2022-06-04 00:53] nathan6am commented on #803
I ran into the same problem, it's a bit of a hacky solution but I got around it by using req.session?.passport?.user and deserializing the user manually instead of using req.user in the callback.

[2022-06-07 14:56] jaredhanson commented on #488
OK, I'm digging this back up :)

I've implemented a WebAuthn strategy: [`passport-fido2-webauthn`](https://github.com/jaredhanson/passport-webauthn).  It works without changing or adding to Passport internals.  Here's my thoughts on the approach.

Of the options outlined here, I took option 1:

As can be seen in the [example app](https://github.com/passport/todos-express-webauthn), this ends up lo

[2022-06-08 23:26] phuze opened #913 "Callback is not a function on logout"
I am using the following packages:

- [passport](https://github.com/jaredhanson/passport) `0.6.0`
- [passport-azure-ad](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/maintenance/passport-azure-ad) `4.3.3` (microsoft strategy)
- [@superfaceai/passport-twitter-oauth2](https://github.com/superfaceai/passport-twitter-oauth2) `1.0.0` (twitter strategy)

When including [pas

[2022-06-09 06:55] Anubhav-Nigam opened #914 "req.isAuthenticated() is always returning false after authenticating with AWS cognito using 'passport' and 'passport-cognito' for strategy."
**req.isAuthenticated() is returning false even after authenticating with AWS cognito.**

**The function which I am using for adding login routes is:**
[code]

**And for checking if the request is authenticated I am using:**
[code]

**The _passport object printed inside res is:**
[code]

**getCognitoInstance() returns the login page url of hosted UI of cognito.
validateUrlAndRedirectCognito() redi

[2022-06-09 17:43] Zohalmohal opened #915 "Why do my application gets stuck at the login process using passport-jwt?"
I am using the Postman to test my NodeJS application. I have written an authentication code that gets stuck at the middle of the code with just showing `sending request`.

How can I find the problem and resolve it?

This is my `auth` code:

    require('dotenv').config();
    const passport = require('passport');
    const passportLocal = require('passport-local');
    const LocalStrategy = passpo

[2022-06-09 18:14] #915 closed

[2022-06-14 10:29] simonplend commented on #902
The documentation for `req.logout()` needs updating to mention the requirement to pass a callback:

- https://www.passportjs.org/concepts/authentication/logout/
- https://github.com/passport/www.passportjs.org/blob/master/docs/logout.md

I'll see if I get chance to put together a PR for this, but flagging it here in case someone else is able to 😄

[2022-06-15 08:57] AdrieneTZ commented on #913
I  encountered the same issue while using `logout().`

I am using the following package:
- passport `0.6.0`
- passport-local `1.0.0`

Following the Passport documentation, the part of Log Out, I get the error message "req#logout requires a callback function."
I tried putting `res.redirect('/')` into `req.logout()` as the callback function. It works!
I tried passport `0.5.3`, and there is no such e

[2022-06-15 23:19] phuze commented on #913
@AdrieneTZ, that relates to an undocumented change introduced in version `0.6.0`, which was done to address a security vulnerability. The author [wrote](https://github.com/jaredhanson/passport/issues/902#issuecomment-1133897569):

You must pass a callback function to the `logout()` method, as of `0.6.0`:

[code]

[2022-06-16 08:14] AdrieneTZ commented on #913
Thank you, @phuze. I am new to programming and using libraries. Your response helped me a lot!

[2022-06-22 05:16] GureSinghh commented on #246
app.get('/logout',(req,res)=>{
  req.logOut(()=>{
    res.redirect('/login')
  });

})

[2022-06-27 13:31] Ray-P opened #916 "How to add new strategy to the passportjs website ?"
I developed a package for Faceit (https://github.com/amber-gg/passport-faceit) and I would like to know want are the criteria to be included to the passportjs strategies page (https://www.passportjs.org/packages/)?

The current `passport-faceit` on this page is not maintain (last update 2 years ago), it's not working and don't follow the last security requirements of github (https://github.blog/20

[2022-06-27 17:40] jaredhanson commented on #916
I'll add it during the next round of updates.

[2022-06-30 01:14] tiromodibedi commented on #246
On you main app.js file you should configure passport before the auth routes (login, logout). Like this:

[code]

Before I had it the other way round and I kept getting the same error

[2022-06-30 01:45] jfstephe commented on #913
@jaredhanson -  I'm seeing this too. I think this is a breaking change with the passport-azure-ad plugin again :-(. passport-azure-ad 4.3.3 (the latest) depends on passport 0.4.1 which explodes when req.logout is called with a timeout.

[2022-07-03 02:28] mahdi-farnia commented on #482
Please consider this to prevent breaking your stuff that is around you: ( this my help )

If you enable `cookie.secure` to true and your server ( like localhost ) is still `http`, cookies will not set and then session DOES NOT WORK AT ALL.

have good day!

[2022-07-07 01:30] Keving-Andrades opened #918 "passport.authenticate() successFlash option doesn't work after upgrade to Passport 0.6.0."
### Expected behavior

I expect a flash message to showing up when a user is logged successfully with successFlash option of passport.authenticate(), like this:

[code]

### Actual behavior

Using the above code I only get failureFlash messages displayed successfully, but if the user log in correctly, `req.flash('success', "Welcome!")` just doesn't show up and doesn't show any errors in the consol

[2022-07-07 03:24] DavidZemon commented on #916
Is submitting an issue here the right way to request new/replacement strategies? I have one for okta that should replace the current one (which has not been touched in 6 years)

[2022-07-07 14:00] DavidZemon commented on #916
Okay, thanks.

It is `@davidzemon/passport-okta-oauth`
https://github.com/DavidZemon/passport-okta-oauth

[2022-07-07 20:45] Evalife opened #919 "passport.authenticate('local', { successReturnToOrRedirect: '/'}) not working properly"
const router = require('express').Router()
const User = require('../models/user.model')
const { body, validationResult } = require('express-validator')
const passport = require('passport')

router.get('/login', ensureNotAuthenticated, async(req, res, next) => {
    res.render('login')
})
router.post('/login', ensureNotAuthenticated,
    passport.authenticate('local', {
    successReturnToOrRedirec

[2022-07-08 13:22] joaogardenberg opened #920 "Alleged typo in authenticate middleware"
https://github.com/jaredhanson/passport/blob/1e8f112bd233dbffb1904d4dd2051780d81b0a22/lib/middleware/authenticate.js#L177

Shouldn't that be `res.send`? I'm getting an error in my app because of that:

![image](https://user-images.githubusercontent.com/6900749/178000304-618feaf0-8999-4c76-aa66-0719b084b7d5.png)

[2022-07-08 13:24] jaredhanson commented on #920
It should definitely be `res.end`.  Could you provide more details about your application (which framework, version of node, etc.)

[2022-07-08 13:53] #920 closed

[2022-07-11 15:18] Neil188 commented on #919
Having the same problem since updating from v0.5.3.  I believe this is down to change [a77271f55f045bd4fd2578a953256406b3621721](https://github.com/jaredhanson/passport/commit/a77271f55f045bd4fd2578a953256406b3621721) - `authentice.js` uses `req.session.returnTo` to redirect back to whatever page the user was visiting.  But now `sessionmanager.js` is using `req.session.regenerate` - resulting in t

[2022-07-14 18:09] anudeep652 commented on #371
Thank you! it works

[2022-07-15 12:15] zsepton commented on #904
Hi, I was wondering if there are any updates on this issue, we need to upgrade to 0.6.0 due to snyk finding, however we can't due to this issue
![image](https://user-images.githubusercontent.com/77799822/179220751-45c53480-e39e-4749-bb9a-a7f3f9d16428.png)

[2022-07-16 14:34] Haneesh000 opened #921 "passport.authenticate("local") is not working at all"
when I use passport.authenticate("local") after the login of user and after using passport.authenticate then I go to /auth which sends me back false

After login I use:-
passport.authenticate("local");

In /auth route I use:-
app.get("/auth", (req, res) => {res.send(req.isAuthenticated())});

I am using
"passport": "^0.6.0",
"passport-google-oauth20": "^1.0.0",
"passport-local": "^1.0.0"

This is

[2022-07-16 15:34] jaredhanson commented on #921
Can you run the [todos-express-password](https://github.com/passport/todos-express-password) example application and confirm (or not) that the local strategy is working?  If it is, double check your application and verify that middleware - sessions in particular - are initialized correctly.

[2022-07-17 07:44] xraive commented on #238
It would be great if you added support for CAS.

https://github.com/apereo/cas
https://apereo.github.io/cas/6.5.x/

[2022-07-17 10:56] Haneesh000 commented on #921
Hey @jaredhanson but in my app req.isAuthenticated() returns false even if I use passport.authenticate("local")

[2022-07-17 13:37] jaredhanson commented on #921
Next steps would be to compare the example app and your app.  Adjust your app accordingly to fix the integration.

[2022-07-19 00:17] Haneesh000 commented on #921
Okay I'll try that

[2022-07-23 12:54] Haneesh000 commented on #921
Can you please make a tutorial on how to use passport local strategy in youtube @jaredhanson

[2022-07-23 14:17] jaredhanson commented on #921
Is the tutorial on the website not sufficient? https://www.passportjs.org/tutorials/password/

[2022-07-25 09:12] TheDigitalSmith commented on #192
I've recently updated my passport from 0.4.1 to 0.6.0 and kept everything the same.  Now when I make a request, it turns out it's making a new session for every request. So now I can't access data that has already been established at login because essentially I'm getting a new session.  I've gone through the documentation and read Jared's article regarding 0.6.0, the only thing I seem to understan

[2022-07-27 03:20] wddrosa commented on #913
@phuze I use /```
/  >= version 0.6.0
req.logout(function(err) => {
  if (err) { return next(err); }
  res.redirect('/');
});
[code]

[2022-07-28 13:48] Haneesh000 commented on #921
No it is a bit difficult to follow it and also there is no method to use passport with other apis than mongoose and mongodb @jaredhanson

[2022-07-28 18:14] ICEPrey commented on #904
Also currently facing this error.

[2022-07-29 00:56] anthonybudd opened #924 "Why does the /docs page not have any Documentation?"
Where is the API docs? I need to see what the arguments of a function are.

Why have a page literally titled "Documentation" (https://www.passportjs.org/docs/) and then on that page only have links to how-to guides and concepts? Why in gods name would you put documentation on the "documentation" pager? Infuriating.

[2022-07-29 14:58] #924 closed

[2022-07-31 15:27] alexshenker commented on #904
What is an example of a session manager that does not call regenerate?

[2022-08-01 14:58] MostlyFocusedMike commented on #904
I think one of the main ones is cookie-session. They have also filed an issue to figure out next steps depending on what passport decides to do. https://github.com/expressjs/cookie-session/issues/166

[2022-08-02 23:05] zacharyad opened #925 "Postgres working example link is pointing to the v3x Mongo working example link, and vice versa."
** READ THIS FIRST! **

#### Are you looking for help?

Reminder: The issue tracker is not a support forum.

Issues should only be filed in this project once they are able to be reproduced
and confirmed as a flaw in the software or incorrect information in associated
documention.

If you are encountering problems integrating this module into your application,
please post a question on the [discuss

[2022-08-03 08:24] matthiasprieth commented on #306
Hi, unfortunately all the fixes described above did not solve the problem. I ended up using https://github.com/expressjs/cookie-session. It worked out of the box. I did not have to change a single line of code except for the config.

[2022-08-03 08:29] matthiasprieth commented on #314
I ended up using https://github.com/expressjs/cookie-session. It worked out of the box. I did not have to change a single line of code except for the config.

[2022-08-04 04:19] gleuch commented on #913
@wddrosa Check your strategies' dependencies. They may be requiring older versions of passport that are causing conflicts with the loaded SessionManager.

Not recommended, but if you need a hotfix for a stale strategy, you can try resolving the version of passport used in those strategies using `resolutions` in your `package.json`.

[2022-08-06 00:37] vlad-healthhelper commented on #902
When I call logout with a call back after upgrading, the request just hangs for me. anything i'm doing wrong? I'm using passport with NestJS

[2022-08-06 01:23] modula-ai opened #926 "req.session variables set in OIDCStrategy function not persistent in session"
Using passport@0.6.0 with OIDC strategy from passport-azure-ad@4.3.4 and connect-mongodb-session@3.1.1 for session state

in the strategy config I have e.g.

[code]
This worked fine in old version of passport ie 0.4.1.  Session variables set in the strategy function persist

### Actual behavior
After upgrade to 0.6.0, the req.session variables set in the OIDCstrategy function are not persisting af

[2022-08-06 16:03] Drew-Daniels opened #927 "passport.authenticate is not a function - Username and Password Tutorial"
I am following the [Username & Password Tutorial](http://www.passportjs.org/tutorials/password/) on the docs, and on the [Establish Session Page](http://www.passportjs.org/tutorials/password/session/), after completing typing in this bit of code, I get the following error:
[code]
![image](https://user-images.githubusercontent.com/62859552/183256471-c1d01064-64bd-4b76-97ae-737b17a77574.png)

### Ex

[2022-08-06 16:07] Drew-Daniels commented on #927
Nevermind, user error - required `morgan` instead of `passport` 😵‍💫

[2022-08-06 16:07] #927 closed

[2022-08-07 21:18] bil0ak commented on #582
I'm having the exact same issue. Have you found a solution or a way around it?

[2022-08-09 01:37] Haneesh000 commented on #921
A youtube video will be better to follow with step-by-step explaination @jaredhanson

[2022-08-09 01:40] jaredhanson commented on #921
It's not high on my priority list to make videos, but thanks for the feedback.

[2022-08-09 01:40] #921 closed

[2022-08-10 07:24] ashishth09 commented on #919
We tried moving to 0.6.0 to receive vulnerability fixes  but hit with this issue. Since the PR is all ready can we expect a release

[2022-08-11 09:45] naxo8628 commented on #582
I have the similiar problem when i request a topic to mercure from a Vue Project. I use chart helm provided with "anonymous publish_origins * cors_origins * write_timeout 0 ui" as extraDirectives, in other scenarios (postman, php, script node, python...) i have no problems, but in Vue Project i get the error:

`Access to resource at **'..../.well-known/mercure?topic=....'** from origin 'https://my

[2022-08-11 11:06] JuzioMiecio520 opened #928 "Additional functions for REST APIs"
Passport is a great library, but for backend projects it's missing one crucial feature. That is generating the authorization link without redirecting the user. It'd be useful for REST APIs as you could just generate link on the backend, send it to the frontend and redirect the user there. I did find [this on StackOverflow](https://stackoverflow.com/questions/68785664/prevent-automatic-redirect-and

[2022-08-11 13:40] jaredhanson commented on #928
I assume you are referring to authentication strategies that use redirect (OAuth 2, OpenID, etc.)

My recommended approach would be to link to a static URL, like: `<a href="/login/google">Login with Google</a>.

That route will then redirect the user: `app.get('/login/google', passport.authenticate('google')`.

Does that technique not work for your use case?

[2022-08-11 15:02] JuzioMiecio520 commented on #928
Oh blimey, how have I not thought about that. Of course that will work, thanks.

[2022-08-11 22:20] Scandianis commented on #452
Not sure if this is relevant, but I had an issue with Passport in version 0.6.0.

passport.authenticate removed id_token from request session object - with 0.5.3 the id_token was not removed.

[2022-08-12 18:40] ianormous commented on #306
2022 and redirect as a callback to login fixed this same issue

[2022-08-17 14:14] riteshsinghh-coder commented on #371
var path= require('path');
var express=require("express");
var request=require("request");
const https=require("https");
const session=require("express-session");
const passport=require("passport");
const passportLocal=require("passport-local");
const passportLocalMongoose=require("passport-local-mongoose");
var app=express();
const bodyParser=require("body-parser");
const mongoose=require("mongoo

[2022-08-17 14:15] riteshsinghh-coder commented on #371
its showing bad request

[2022-08-17 15:33] Potoff commented on #515
Is anyone find a solution ?

[2022-08-22 15:00] sbsamaro commented on #919
@ashishth09 Did this solve your issue? i added keepsessioninfo to the config and its still having the same behavior

[2022-08-23 09:22] anderskiaer opened #929 "`promisified` version of `req.logout`"
Sorry if this has already been discussed (a quick search didn't give any hits).

Starting from `0.6.0`, `req.logout` is an asynchronous function and requires a callback function. This is explained in the documentation https://www.passportjs.org/concepts/authentication/logout/:
[code]
If possible, it would be nice to have a "promisified" version of `req.logout` available for writing more readable c

[2022-08-25 17:13] ARR4NN opened #932 "Failed to obtain access token"
[code]
This happens after the code in the URL bar is invalid. I find it happening after redirecting and the token being invalid

[2022-08-25 17:17] jaredhanson commented on #932
If the code in the URL bar is invalid, it would be expected that an access token cannot be obtained.

[2022-08-25 17:25] ARR4NN commented on #932
Yeah but i want to be able to control that error like replacing it with my own error. Is that possible

[2022-08-25 17:35] jaredhanson commented on #932
You can add error handling middleware like so:

[code]

[2022-08-25 17:35] #932 closed

[2022-08-25 18:20] ARR4NN commented on #932
That doesn't appear to be working for me

[2022-08-25 18:21] ARR4NN commented on #932
[code]

[2022-08-25 18:27] jaredhanson commented on #932
You need to put the error handling on the callback route, not the route that redirects to GitHub.

[2022-08-25 18:30] ARR4NN commented on #932
i did try that too

[2022-08-25 18:30] ARR4NN commented on #932
[code]

[2022-08-25 18:31] ARR4NN commented on #932
my strat is
[code]

[2022-08-25 20:34] ARR4NN opened #933 "Always getting Unauthorized"
[code]
when going to localhost:3001/api/auth/github and authenticating i get an "Unauthorized" page my router code is as follows

[code]

[2022-08-25 20:47] jaredhanson commented on #933
Have you done any debugging to isolate this as an issue with Passport?  Could you provide details?

[2022-08-25 20:50] jaredhanson commented on #933
Your routes indicate Patreon is being used.  But your strategy configuration is using GitHub.

Also, your strategy `verify` function is not returning a user object:

[code]

This would cause Passport to deny the request, because a user object is required.  For example:

[code]

[2022-08-25 20:56] ARR4NN commented on #933
Thats my bad sent the wrong one. They are both the same anyway

[2022-08-25 21:01] ARR4NN commented on #933
Ok returning the user seems to have fixed this.

[2022-08-25 21:57] #933 closed

[2022-08-26 06:08] SultanHboush opened #934 "Cannot read properties of undefined (reading '0')"
I'm getting this error in router.get("/googleLogin/success" every time I try to log in using facebook, the router.get("/facebookLogin/success" goes the same, the whole app stope whenever I start logging in using facebook.

[code]

### Environment
* Operating System:
* Node version: v16.14.0
* passport version: passport@0.5.3

[2022-08-26 07:31] soulwax commented on #627
I may be a little late but posting this for others who might have the same issue. It's really simple:
`
 req.authInfo = info // Preserve req.authInfo for the next route
 req.user = user // Optional if you have a serialized user object to work with
 return next()`

[2022-08-29 18:24] #717 closed

[2022-08-30 09:56] Dyln01 commented on #446
Hey i had the same issue and for me it was the cookie: { maxAge: 86400000, secure: true }you need to remove the secure: true and then it should work

[2022-08-30 16:39] sushiljainam-gt commented on #738
Only after `passport@0.6.0` req.logout function takes callback in params. @cjbarth
refer https://github.com/jaredhanson/passport/pull/900

[2022-08-30 23:28] jeffwilcox commented on #913
I'm not sure which dependency is causing the problem, but I'm also using `passport-azure-ad`, and while it has a dependency on this latest version of `passport`, something else is bringing in an old version and causing the issue.

[2022-09-01 14:00] chandra956 opened #936 "passport-saml authentication throws Error: Request failed with status code 404 after upgrading passport from version 0.5.3 to 0.6.0"
using passport-saml version 3.2.1
after ugrading passportjs from 0.5.3 to 0.6.0 passport authentication throws Error: Request failed with status code 404
saml strategy is also same as I used for 0.5.3

I am trying to call below request
router.post('auth/saml', this.passport.authenticate('saml', {failureRedirect:'/login', keepSessionInfo:true}), this.signInCallback.bind(this));

and below is my sig

[2022-09-09 12:33] bencipher commented on #914
Disclaimer: I started writing nodejs like a week ago and I have basic js knowledge, so my use of terms may be basic.

Now, from what I see, the issue is with your deserializer function not working properly. You need to attach the user object to the done callback, like this: `passport.deserializeUser((id, done) => User.findById(id, (err, user) => done(err, user)));` so in your own case, it should b

[2022-09-12 14:40] WilliamVenner commented on #201
@jaredhanson This is actually a security vulnerability! Compromised users logging out of applications should expect the attacker to no longer have access to the application, but this is not the case because of this decision: I don't think we should expect applications using Passport.js to implement token revocation for 500+ integrations, and similarly users of Passport.js do not expect to have to

[2022-09-16 19:46] jatinkumarg commented on #911
bumped `v0.5.3` to `0.6.0`, I followed this [post](https://medium.com/passportjs/fixing-session-fixation-b2b68619c51d).

_Code changes:_
- added `keepSessionInfo: true` option in `passport.authenticate`.
- updated `request.logout`, to be:

[code]

[2022-09-19 05:51] abhi2425 opened #938 "Passport Js is not maintaining session in cross domain request"
## Backend Server-: Express Js runs on **http://localhost**

## Frontend-: Next Js runs on **http://localhost:3000**

---

 When I am logging in from http://localhost:3000/login I am getting `req.user` in console, but `req.isAuthenticated()` middleware is maintaing the session due to which I am not able to login from different domain.

But the same thing if I try with old an EJS page that runs on

[2022-09-19 15:28] #938 closed

[2022-09-24 05:29] khajatakreemulla opened #939 "passport.js throws login session error after upgrading from 0.4.1 to 0.6.0"
error: Server Error:
error: Error: Login sessions require session support. Did you forget to use `express-session` middleware?
    at SessionStrategy.authenticate (/home/khaja/Desktop/flow-web/node_modules/passport/lib/strategies/session.js:46:41)
    at attempt (/home/khaja/Desktop/flow-web/node_modules/passport/lib/middleware/authenticate.js:369:16)
    at authenticate (/home/khaja/Desktop/flow-

[2022-09-24 14:16] jaredhanson commented on #939
Are you using session middleware?

[2022-09-24 20:18] Vanlsh commented on #446
@Dyln01 Hi, I have spend two days to find the answer, and I have found the answer in your  comment. Thank you so much!!!!!

[2022-09-25 03:12] mingchia-andy-liu commented on #904
Hello, any update on this issue? The workaround to 0.5.x is vulnerable to [CVE-2022-25896](https://github.com/advisories/GHSA-v923-w3x8-wh69). Any plan to to support `cookie-session`-like session manager? It is listed in [express's official docs for session management.](https://expressjs.com/en/advanced/best-practice-security.html#use-cookies-securely) It would great if both strategies are support

[2022-09-25 11:57] mtrezza commented on #904
Can anyone suggest an alternative for this passport library?

[2022-09-25 14:36] Riley- commented on #939
I, too, have this issue and have moved back to `0.5.3` as a result (resolved the issue for my case).

I do not use session middleware, but the error was thrown when using the passport-github2 strategy with passport `0.6.0`.

[2022-09-26 03:26] khajatakreemulla commented on #939
@jaredhanson we are using sails.js (an express framework). it w as working well in earlier version. we are using passport with passport-local strategy.

[2022-09-27 14:21] karlbecker commented on #929
Beyond that, it sure seems like

means passport should have a semantic versioning update to 1.0.0, since this change breaks existing calls to logout.

Agreed?

[2022-09-27 15:42] anderskiaer commented on #929
As long as `passport` is on `0.y.z`, according to semver alone, [the API can change on any release](https://semver.org/#spec-item-4). Bumping major version when introducing breaking changes is a requirement [when already at major version `> 0`](https://semver.org/#spec-item-8).

[2022-09-28 12:31] hifabienne opened #940 "Adding new strategie"
@buehler developed a new strategie for integrating ZITADEL Identity Provider.
It would be great if you can publish it on the passportjs strategies page.

Is there anything to do to get published?

You can find the github repository here: https://github.com/buehler/node-passport-zitadel

[2022-09-28 17:40] bhavin36 commented on #663
Any plans to bump the **pause** version to 0.1.0?

[2022-10-03 18:04] johnredberg commented on #748
Posting here due to similarity with remarks noted in previous comments under this issue.

`www.passportjs.org` (note: `www` subdomain, without explicit `https` URI scheme) still serves plain, unencrypted HTTP traffic.

This may appear petty. But it's never a good look when you're reading the docs of a trendy framework (like in my case, [https://docs.nestjs.com/security/authentication](https://docs

[2022-10-03 18:33] jaredhanson commented on #748
What would be "fixed" by this?  The site is just serving up public documentation, there's no security sensitive credentials, cookies, or anything like that.   If someone wants to browse the site using plain HTTP, why shouldn't they be able to?

[2022-10-03 20:06] tadman commented on #748
@jaredhanson Any HTTP site can be trivially injected with code by malicious networks, as but one of many reasons.

It's also an easy fix, there's no cost, no technical hurdles here. On GitHub Pages it's as easy as clicking a check-box.

[2022-10-04 23:05] johnredberg commented on #748
@jaredhanson I honestly believe that there's nothing I can tell you on this subject that you don't already know. I can only report what my experience was and why I brought this issue up.

I clicked on a link that lead me to the documentation of an extremely popular authentication library and got a big fat "Not Secure" slapped next to the address bar in Chrome. That's a bad _look_. The phrase "Not

[2022-10-05 07:51] dhope21 commented on #650
im facing the same issue, did you figure it out @suphero

[2022-10-05 09:51] pke commented on #748
I agree this is easier to fix than this this discussion already lasts. There should be no http traffic anymore.

[2022-10-06 21:04] tadman commented on #748
If nothing else, not having a secure site for the documentation for a *web site security tool*, is a really, really bad look.

"If they can't be bothered to click a checkbox and enable HTTPS, what other problems have they left unaddressed?"

This should be trivial to fix. If there are hurdles that prevent this from being an easy process, I'm sure we'd all like to help work through those, so just l

[2022-10-06 21:18] jaredhanson commented on #748
The website *is* available via HTTPS. It's _also_ available via HTTP.

I don't understand the rationale behind the idea that there should be no HTTP traffic anymore, especially for public information.  If I published the documentation in book form and put it on a shelf in a library, would that be problem because the "transport layer" of a physical book is not encrypted?  I'd love to hear a compell

[2022-10-06 23:42] johnredberg commented on #748
Alright, I'll bite.

1/ Let's say I'll give you your "HTTP until proven guilty" dogma, regardless what philosophical, psychological, technical, or anti-technical principles you've derived it from. As a fellow tech nerd, don't you value consistency in all its incarnations? Why does `http://passportjs.org` redirect to `https://www.passportjs.org`
[code]
but `http://www.passportjs.org` does not?
[cod

[2022-10-07 07:50] pke commented on #748
The fact that the browser messages are confusing users is in itself reason to change it, as you stated.

It also prevents 3rd parties injecting code during transfer. Which is an attack vector that was used in the past to distribute malware.

[2022-10-07 20:32] suphero commented on #650
TL;DR: Maybe you can but you shouldn't use it.

It's been a long time since my answer and I obviously couldn't keep my word. I don't remember what I had in mind when I said "reverse engineering workaround".

I've rechecked the case, and it didn't work as before. The issue is:
`The package at "node_modules/passport/lib/middleware/authenticate.js" attempted to import the Node standard library module

[2022-10-14 12:54] VINCIDAO opened #943 "Passport Discord get the request URL so that the redirect can go to the same place."
Hello.

This is what I have.

I have a button on the frontend (React JS) that window open

That window will go to the backend endpoint of discord and login

On the callback I have a redirect that should go to www.website.com/done

The thing is that this "website" is different because I am deploying several to github pages.

How can I get the original request URL to the passport so that I can after

[2022-10-18 09:03] Tosinkoa commented on #803
Pls how did you solve this?

[2022-10-19 04:22] ashishth09 commented on #919
@sbsamaro no it didn't solve for me either

[2022-10-19 06:08] JaimeGSandoval commented on #939
Unfortunately I'm running into the same issue as @khajatakreemulla. I'm trying to destroy a session after `req.logout()` and I get the same error output. I ended up  reverting back to `0.5.3` and now it's working.

[2022-10-20 13:56] spicycode commented on #904
We're looking for ways to mitigate the CVE while the ecosystem adopts passport 0.6, has the public method to set SessionManager been released?

[2022-10-21 12:56] ThibaultJanBeyer opened #945 "Link for Postgres example seems wrong"
Dear team, in the readme.md the link to the Postgres example is just redirecting to the express-4 one which is written using mongodb:

[code]

I don’t know which one would be the correct link, otherwise, this would have been a PR.
Cheers

[2022-10-29 15:41] rezicosta opened #946 "What is the idea of having AuthenticateOptions type assigned to passport.authenticate options parameter. It is misleading as it can be thought that passReqToCallback can be passed through passport.authenticate options parameter, but in reality it can't be."
Suggestion is to remove passReqToCallback so that it won't be suggested on passport.authenticate options param.

[2022-10-29 18:12] Drew-Daniels commented on #945
Think this issue has already been mentioned: #874

[2022-10-29 18:18] jaredhanson commented on #946
Are you referring to TypeScript types?  If so, those are maintained externally to this library.  I'd recommend filing an issue with the project that maintains the types.

[2022-11-02 04:46] mannyvergel commented on #904
Would be nice to have this fix so that the lib can be updated to 0.6.x+ which includes a security vulnerability with moderate severity

[2022-11-04 20:29] ThomasCode92 commented on #904
I faced the problem that my session was overwritten after the passport.authenticate method.
This is how I solved it:
[code]

[2022-11-05 10:53] khajatakreemulla commented on #939
@jaredhanson did you get a chance to look at this, do i need to know is there any recent changes which will resolve this issue.

[2022-11-08 17:15] philippkrauss commented on #904
We have faced the same issue in our project and solved it with a non-intrusive workaround until it is fixed officially.
As the error message indicates, the regenerate function is missing. Subsequently, the save method is missing too. Therefore, we provide a dummy implementation of those two functions.

This workaround allowed us to upgrade to the newest version and therefore get rid of the securit

[2022-11-12 23:24] cjbarth commented on #916
I would like to make the same comment regarding the `@node-saml/passport-saml` package. It replaces the unscoped version.

https://www.passportjs.org/packages/passport-saml/ shoud point to https://github.com/node-saml/passport-saml

[2022-11-17 14:26] boxymoron commented on #939
Same issue here passport@0.6.0 breaks with Sails.

[2022-11-21 17:04] Astrydax commented on #687
Please close issue

[2022-11-23 08:26] kconut commented on #939
Hi, also encountered this issue when we upgraded from passport `0.4.1` to `0.6.0` with Sails `1.5.3`.

We couldn't revert back to the older passport version because of a vulnerability that gets flagged by snyk. What we ended up doing is to just use express-session as http middleware rather than sails' built in session config.

[2022-11-25 21:22] #687 closed

[2022-11-26 12:38] me-dira opened #949 "Session is reconstructed after login method"
#### Are you looking for help? Yes
#### Is this a security issue? No

I set the `socketId` to session before authorizing the user but after .login() was called on the passport, the `socketId` is deleted and every other part of the session object was rewritten ( It seems passports is trying to create session object again with it's own related data).

I use passport, passport-google, and passport-lo

[2022-11-27 05:07] flamingfish commented on #949
Having the exact same issue. Probably to do with fixing the vulnerability before 0.6.0:
https://github.com/advisories/GHSA-v923-w3x8-wh69
This new behaviour might be intended. There is now an option to keep the session info, however:
https://stackoverflow.com/questions/72953877/req-session-returnto-is-undefined

For authentication:
`passport.authenticate("local", {keepSessionInfo: true})`
And for

[2022-11-30 21:22] Osama-D commented on #452
hello everyone i'm coming from 2022 near 2023 and i have the same fucking issues.